status: 501
headers:
  Content-Type: "application/xml"
  Server: VERSITYGW
body:
  type: s3_error
  data:
    Error:
      Code: NotImplemented
      Message: "A header you provided implies functionality that is not implemented."